---
import { Image } from 'astro:assets';
import notFoundImage from "/public/img/404Text.png";
import Header from '../components/Header.astro';
import '../styles/utils.css'
import { Icon } from 'astro-icon' 
---
<Header />
<!-- `alt` is mandatory on the Picture component -->
<div class="imageBox">
    <div class="back-link-box">
        <a class="back-link" href="/">
            <Icon class="back-icon" name="ion:arrow-back-outline" />
            <span class="back-text">GO BACK</span>
        </a>
    </div>
           
    <Image class='notFoundImage' src={notFoundImage} alt="Graphic representing a 404 error page" />
</div>

