<section class="about section" id="about">
    <h2 class="section__title">About Me</h2>
    <span class="section__subtitle">My introduction</span>

    <div class="about__container container grid">
        <img src="/img/about-nobg.png" alt="about-image" class="about__img" loading="lazy">

        <div class="about__data">
            <p class="about__description"><strong>Full Stack Web Developer</strong> with extensive knowledge and years of
                experience, specializing in web technologies, UI/UX design, and delivering high-quality work.</p>
            <p class="about__description">Currently, I'm advancing my skills in <strong>Javascript</strong> and <strong>Laravel</strong>, and I've also started exploring <a aria-label="Visit the Astro website" href="https://astro.build/" id="astro-link" class="astro-link" target="_blank"><strong>Astro</strong></a> 🚀.</p>
            <p class="about__description">I'm passionate about <strong>Cybersecurity</strong> and have dedicated <strong>2 years</strong> to this field. I've attended multiple cybersecurity courses and conferences to deepen my knowledge.</p>

            <p class="about__description">For the past year, I've been working as a full stack web developer, primarily as a <strong>Back End Developer</strong>, while honing my <strong>Front End Developer</strong> skills in Barcelona, Spain, at one of the best marketing agencies. I use <a id="laravel-link" class="home__description__link" href="https://laravel.com/" target="_blank"><b>Laravel</b></a> along with <a id="inertia-link" class="home__description__link" href="https://inertiajs.com/" target="_blank"><b>Inertia</b></a> and <a id="vue-link" class="home__description__link" href="https://vuejs.org/" target="_blank"><b>Vue 3</b></a> to build cutting-edge solutions for top-level companies.</p>

            <div class="about__info">
                <div>
                    <span class="about__info-title">04+</span>
                    <span class="about__info-name">Years <br> of Experience</span>
                </div>

                <div>
                    <span class="about__info-title">20+</span>
                    <span class="about__info-name">Completed <br> Projects</span>
                </div>

                <div>
                    <span class="about__info-title">02+</span>
                    <span class="about__info-name">Companies <br> Worked With</span>
                </div>
            </div>

            <div class="about__buttons">
                <a download="" href="/pdf/Ignacio CV.pdf" class="button button--flex">
                    Download CV<i class="uil uil-download-alt button__icon"></i>
                </a>
            </div>
        </div>
    </div>
</section>
