<section id="certifications" class="certifications section">
    <h2 class="section__title">Certifications</h2>
    <span class="section__subtitle">My certifications during my journey</span>

    <div class="certification__container container">
        <div class="certification__tabs">
            <div class="certification__button button--flex certification__active">
                <i class="uil uil-file-landscape-alt certification__icon"></i>
                Education
            </div>

            <div class="certification__button button--flex ">
                <i class="uil uil-trophy certification__icon"></i>
                Hobby
            </div>
        </div>

        <div class="certification__sections">
            <!--==================== CERTIFICATION CONTENT 1 ====================-->
            <div class="certification__content certification__active">
                <!--==================== CERTIFICATION 1 ====================-->
                <div class="certification__data">
                    <div>
                        <h3 class="certification__title">What's new in Laravel 9 & Eloquent Relationships</h3>
                        <span class="certification__subtitle">Laracasts</span>
                        <div class="certification__calendar">
                            <i class="uil uil-calendar-alt"></i>
                            2022 - 2022
                        </div>
                    </div>

                    <div>
                        <span class="certification__rounder"></span>
                        <span class="certification__line"></span>
                    </div>
                </div>
                <!--==================== CERTIFICATION 1 ====================-->
                <div class="certification__data">
                    <div>
                        <h3 class="certification__title">LARAVEL 8 FROM SCRATCH</h3>
                        <span class="certification__subtitle">Laracasts</span>
                        <div class="certification__calendar">
                            <i class="uil uil-calendar-alt"></i>
                            2022 - 2022
                        </div>
                    </div>

                    <div>
                        <span class="certification__rounder"></span>
                        <span class="certification__line"></span>
                    </div>
                </div>
                <!--==================== CERTIFICATION 2 ====================-->
                <div class="certification__data">
                    <div>
                        <h3 class="certification__title">The Complete JavaScript Course 2021: From Zero to
                            Expert!</h3>
                        <span class="certification__subtitle">Udemy - Jonas Schmedtmann</span>
                        <div class="certification__calendar">
                            <i class="uil uil-calendar-alt"></i>
                            2021 - Actual
                        </div>
                    </div>

                    <div>
                        <span class="certification__rounder"></span>
                        <span class="certification__line"></span>
                    </div>
                </div>

                <!--==================== CERTIFICATION 3 ====================-->
                <div class="certification__data">
                    <div></div>

                    <div>
                        <span class="certification__rounder"></span>
                        <span class="certification__line"></span>
                    </div>

                    <div>
                        <h3 class="certification__title"><a class="certification__link" href="http://c1b3rwall.policia.es" target="_blank" rel="noopener noreferrer">C1B3RWALL</a> CYBERSECURITY COURSE</h3>
                        <span class="certification__subtitle">Course from Police of Spain</span>
                        <div class="certification__calendar">
                            <i class="uil uil-calendar-alt"></i>
                            2020 - 2020
                        </div>
                    </div>
                </div>

                <!--==================== CERTIFICATION 4 ====================-->
                <div class="certification__data">
                    <div></div>

                    <div>
                        <span class="certification__rounder"></span>
                        <span class="certification__line"></span>
                    </div>

                    <div>
                        <h3 class="certification__title">
                            <a class="certification__link" href="https://intelcon.ginseg.com/2020/" target="_blank" rel="noopener noreferrer">INTELCON 2020</a> CYBERSECURITY</h3>
                        <span class="certification__subtitle">GINSEG</span>
                        <div class="certification__calendar">
                            <i class="uil uil-calendar-alt"></i>
                            2020 - 2020
                        </div>
                    </div>
                </div>

                <!--==================== CERTIFICATION 5 ====================-->
                <div class="certification__data">
                    <div>
                        <h3 class="certification__title">LARAVEL 6 FROM SCRATCH</h3>
                        <span class="certification__subtitle">LARACASTS</span>
                        <div class="certification__calendar">
                            <i class="uil uil-calendar-alt"></i>
                            2020 - 2020
                        </div>
                    </div>

                    <div>
                        <span class="certification__rounder"></span>
                        <span class="certification__line"></span>
                    </div>
                </div>

                <!--==================== CERTIFICATION 6 ====================-->
                <div class="certification__data">
                    <div>
                        <h3 class="certification__title">Advanced CSS and Sass: Flexbox, Grid, Animations and
                            More!</h3>
                        <span class="certification__subtitle">Udemy - Jonas Schmedtmann</span>
                        <div class="certification__calendar">
                            <i class="uil uil-calendar-alt"></i>
                            2019 - 2019
                        </div>
                    </div>

                    <div>
                        <span class="certification__rounder"></span>
                        <span class="certification__line"></span>
                    </div>
                </div>

                <!--==================== CERTIFICATION 7 ====================-->
                <div class="certification__data">
                    <div>
                        <h3 class="certification__title">Build Responsive Real-World Websites with HTML and CSS
                        </h3>
                        <span class="certification__subtitle">Udemy - Jonas Schmedtmann</span>
                        <div class="certification__calendar">
                            <i class="uil uil-calendar-alt"></i>
                            2018 - 2018
                        </div>
                    </div>

                    <div>
                        <span class="certification__rounder"></span>
                        <!-- <span class="certification__line"></span> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>