---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import HomeSection from '../components/HomeSection.astro';
import AboutSection from '../components/AboutSection.astro';
import SkillsSection from '../components/SkillsSection.astro';
import QualificationSection from '../components/QualificationSection.astro';
import CertificationSection from '../components/CertificationSection.astro';
import ServicesSection from '../components/ServicesSection.astro';
import PortfolioSection from '../components/PortfolioSection.astro';
import ProjectSection from '../components/ProjectSection.astro';
import TestimonialSection from '../components/TestimonialSection.astro';
import ContactSection from '../components/ContactSection.astro';
import Footer from '../components/Footer.astro';

import '../styles/utils.css'
---

<Layout title="Ignacio Amat Urbina - Full Stack Web Developer">
	 <!-- Google Tag Manager (noscript) -->
	 <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PPB75LJ" height="0" width="0"
		style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
<Header />

<!--==================== MAIN ====================-->
<main class="main">
	<!--==================== HOME ====================-->
	<HomeSection />

	<!--==================== ABOUT ====================-->
	<AboutSection />

	<!--==================== SKILLS ====================-->
	<SkillsSection />

	<!--==================== QUALIFICATION ====================-->
	<QualificationSection />

	<!--==================== CERTIFICATION ====================-->
	<CertificationSection />

	<!--==================== SERVICES ====================-->
	<ServicesSection />

	<!--==================== PORTFOLIO ====================-->
	<PortfolioSection />

	<!--==================== PROJECT IN MIND ====================-->
	<ProjectSection />

	<!--==================== TESTIMONIAL ====================-->
	<TestimonialSection />

	<!--==================== CONTACT ME ====================-->
	<ContactSection />
</main>

<!--==================== FOOTER ====================-->
<Footer />

<!--==================== SCROLL TOP ====================-->
<a href="#" class="scrollup" id="scroll-up">
	<i class="uil uil-arrow-up scrollup__icon"></i>
</a>
</Layout>
