<section class="portfolio section" id="portfolio">
    <h2 class="section__title">Projects</h2>
    <span class="section__subtitle">Most recent work</span>

    <div class="portfolio__container container swiper">
        <div class="swiper-wrapper">
            <!--==================== PORTFOLIO 1 ====================-->
            <div class="portfolio__content grid swiper-slide">
                <img src="/img/entire1.png" alt="omnifood-website" class="portfolio__img"
                    loading="lazy">

                <div class="portfolio__data">
                    <h3 class="portfolio__title">Trycat Website (Wordle Game)</h3>
                    <p class="portfolio__description">Website made to master AlpineJS, it's a clone of the popular Wordle Game </p>
                    <a aria-label="Visit the WordleGame project on my github" href="https://github.com/ignaaaam/WordleGame" target="_blank"
                        class="button button--flex button--small portfolio__button">
                        Visit Code
                        <i class="uil uil-arrow-right button__icon"></i>
                    </a>
                </div>
            </div>
            <!--==================== PORTFOLIO 2 ====================-->
            <div class="portfolio__content grid swiper-slide">
                <img src="/img/showcase0.png" alt="halloween-website" class="portfolio__img"
                    loading="lazy">

                <div class="portfolio__data">
                    <h3 class="portfolio__title">Halloween Website</h3>
                    <p class="portfolio__description">Responsive website that simulates a halloween store, just
                        frontend using HTML CSS and JavaScript, used some JS libraries and added some CSS
                        animations.</p>
                    <a aria-label="Visit the SpookyHalloween website" href="https://www.spookyhalloween.art/" target="_blank"
                        class="button button--flex button--small portfolio__button">
                        Visit Website
                        <i class="uil uil-arrow-right button__icon"></i>
                    </a>
                </div>
            </div>

            <!--==================== PORTFOLIO 3 ====================-->
            <div class="portfolio__content grid swiper-slide">
                <img src="/img/showcase1.png" alt="natours-website" class="portfolio__img outdoors__img"
                    loading="lazy">

                <div class="portfolio__data">
                    <h3 class="portfolio__title">Natours Website</h3>
                    <p class="portfolio__description">Website about Nature tours, made on a course while I was
                        mastering HTML & CSS skills. It's a landing page that has clean UI all entirely made
                        with pure HTML & CSS. </p>
                    <a aria-label="Visit the Natours project website" href="https://websiteproject-natours.netlify.app/" target="_blank"
                        class="button button--flex button--small portfolio__button">
                        Visit Website
                        <i class="uil uil-arrow-right button__icon"></i>
                    </a>
                </div>
            </div>

            <!--==================== PORTFOLIO 4 ====================-->
            <div class="portfolio__content grid swiper-slide">
                <img src="/img/showcase2.png" alt="omnifood-website" class="portfolio__img"
                    loading="lazy">

                <div class="portfolio__data">
                    <h3 class="portfolio__title">Omnifood Website</h3>
                    <p class="portfolio__description">Website about healthy food delivery made in my initial
                        days of learning HTML & CSS while I was starting to learn basic technologies. </p>
                    <a aria-label="Visit the Omnifood project website" href="https://omnifoodrestaurant.netlify.app/" target="_blank"
                        class="button button--flex button--small portfolio__button">
                        Visit Website
                        <i class="uil uil-arrow-right button__icon"></i>
                    </a>
                </div>
            </div>
            <!--==================== PORTFOLIO 5 ====================-->
            <div class="portfolio__content grid swiper-slide">
                <img src="/img/github-showcase.png" alt="github-profile" class="portfolio__img"
                    loading="lazy">

                <div class="portfolio__data">
                    <h3 class="portfolio__title">Other projects</h3>
                    <p class="portfolio__description">Take a look at my github profile to check more advanced projects (frontend/backend) to know more about my abilities & technologies I'm lerning! </p>
                    <a aria-label="Visit my Github profile" href="https://github.com/ignaaaam" target="_blank"
                        class="button button--flex button--small portfolio__button">
                        Visit Github
                        <i class="uil uil-arrow-right button__icon"></i>
                    </a>
                </div>
            </div>
        </div>

        <!-- Swiper Arrows -->
        <div class="swiper-button-next">
        </div>
        <div class="swiper-button-prev">
        </div>

        <!-- Swiper Pagination -->
        <div class="swiper-pagination swiper-pagination-portfolio">
        </div>
    </div>
</section>

<script>
    import Swiper from 'swiper'
    import { Navigation, Pagination } from 'swiper/modules';

    import 'swiper/css';
    import 'swiper/css/navigation';
    import 'swiper/css/pagination';
    /*==================== PORTFOLIO SWIPER  ====================*/
let swiperPortfolio = new Swiper('.portfolio__container', {
    modules: [Navigation, Pagination],
     loop: true,
     cssMode: false,
     grabCursor: true,
     navigation: {
         nextEl: '.swiper-button-next',
         prevEl: '.swiper-button-prev',
     },
     pagination: {
         el: '.swiper-pagination',
         clickable: true,
     },
 });
</script>