<section class="project section">
    <div class="project__bg">
        <div class="project__container container grid" style="padding-bottom: 4rem;">
            <div class="project__data">
                <h2 class="project__title">Ready to Start a New Project?</h2>
                <p class="project__description">Contact me now and enjoy a 30% discount on your upcoming project. Let's build something amazing together.</p>
                <a aria-label="Contact me for your project" href="#contact" class="button button--flex button--white">
                    Contact Me
                    <i class="uil uil-message project__icon button__icon"></i>
                </a>
            </div>

            <img src="/img/Contact-us.png" alt="contact-us" class="project__img" loading="lazy">
        </div>
    </div>
</section>

<script>
    
</script>
