<section class="skills section" id="skills">
    <h2 class="section__title">Skills</h2>
    <span class="section__subtitle">My technical level</span>
    <div class="skills__container container grid">
        <div>
            <!--==================== SKILLS 1 ====================-->
            <div class="skills__content skills__open">
                <div class="skills__header">
                    <i class="uil uil-brackets-curly skills__icon"></i>

                    <div>
                        <h1 class="skills__titles">Frontend developer</h1>
                        <span class="skills__subtitle">More than 4 years</span>
                    </div>

                    <i class="uil uil-angle-down skills__arrow"></i>
                </div>

                <div class="skills__list grid">
                    <div class="skills__data">
                        <div class="skills__titles">
                            <h3 class="skills__name">HTML</h3>
                            <span class="skills__number">95%</span>
                        </div>
                        <div class="skills__bar">
                            <span class="skills__percentage skills__html"></span>
                        </div>
                    </div>
                    <div class="skills__data">
                        <div class="skills__titles">
                            <h3 class="skills__name">CSS</h3>
                            <span class="skills__number">90%</span>
                        </div>
                        <div class="skills__bar">
                            <span class="skills__percentage skills__css"></span>
                        </div>
                    </div>
                    <div class="skills__data">
                        <div class="skills__titles">
                            <h3 class="skills__name">JavaScript</h3>
                            <span class="skills__number">85%</span>
                        </div>
                        <div class="skills__bar">
                            <span class="skills__percentage skills__js"></span>
                        </div>
                    </div>
                    <div class="skills__data">
                        <div class="skills__titles">
                            <h3 class="skills__name">VueJS</h3>
                            <span class="skills__number">70%</span>
                        </div>
                        <div class="skills__bar">
                            <span class="skills__percentage skills__vue"></span>
                        </div>
                    </div>
                    <div class="skills__data">
                        <div class="skills__titles">
                            <h3 class="skills__name">TailwindCSS</h3>
                            <span class="skills__number">90%</span>
                        </div>
                        <div class="skills__bar">
                            <span class="skills__percentage skills__tw"></span>
                        </div>
                    </div>
                    <div class="skills__data">
                        <div class="skills__titles">
                            <h3 class="skills__name">React</h3>
                            <span class="skills__number">In Progress...</span>
                        </div>
                        <div class="skills__bar">
                            <span class="skills__percentage skills__react"></span>
                        </div>
                    </div>
                </div>
            </div>
            <!--==================== SKILLS 2 ====================-->
            <div class="skills__content skills__close">
                <div class="skills__header">
                    <i class="uil uil-server-network skills__icon"></i>

                    <div>
                        <h1 class="skills__titles">Backend developer</h1>
                        <span class="skills__subtitle">More than 2 years</span>
                    </div>

                    <i class="uil uil-angle-down skills__arrow"></i>
                </div>

                <div class="skills__list grid">
                    <div class="skills__data">
                        <div class="skills__titles">
                            <h3 class="skills__name">PHP</h3>
                            <span class="skills__number">90%</span>
                        </div>
                        <div class="skills__bar">
                            <span class="skills__percentage skills__php"></span>
                        </div>
                    </div>
                    <div class="skills__data">
                        <div class="skills__titles">
                            <h3 class="skills__name">Laravel</h3>
                            <span class="skills__number">85%</span>
                        </div>
                        <div class="skills__bar">
                            <span class="skills__percentage skills__laravel"></span>
                        </div>
                    </div>
                    <div class="skills__data">
                        <div class="skills__titles">
                            <h3 class="skills__name">Inertia</h3>
                            <span class="skills__number">50%</span>
                        </div>
                        <div class="skills__bar">
                            <span class="skills__percentage skills__inertia"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <!--==================== SKILLS 3 ====================-->
            <div class="skills__content skills__close">
                <div class="skills__header">
                    <i class="uil uil-swatchbook skills__icon"></i>

                    <div>
                        <h1 class="skills__titles">Designer</h1>
                        <span class="skills__subtitle">More than 4 years</span>
                    </div>

                    <i class="uil uil-angle-down skills__arrow"></i>
                </div>

                <div class="skills__list grid">
                    <div class="skills__data">
                        <div class="skills__titles">
                            <h3 class="skills__name">Figma</h3>
                            <span class="skills__number">80%</span>
                        </div>
                        <div class="skills__bar">
                            <span class="skills__percentage skills__figma"></span>
                        </div>
                    </div>
                    <div class="skills__data">
                        <div class="skills__titles">
                            <h3 class="skills__name">Photoshop</h3>
                            <span class="skills__number">70%</span>
                        </div>
                        <div class="skills__bar">
                            <span class="skills__percentage skills__photoshop"></span>
                        </div>
                    </div>
                    <div class="skills__data">
                        <div class="skills__titles">
                            <h3 class="skills__name">Adobe XD</h3>
                            <span class="skills__number">60%</span>
                        </div>
                        <div class="skills__bar">
                            <span class="skills__percentage skills__adobexd"></span>
                        </div>
                    </div>
                    <div class="skills__data">
                        <div class="skills__titles">
                            <h3 class="skills__name">Illustrator</h3>
                            <span class="skills__number">30%</span>
                        </div>
                        <div class="skills__bar">
                            <span class="skills__percentage skills__illustrator"></span>
                        </div>
                    </div>
                    <div class="skills__data">
                        <div class="skills__titles">
                            <h3 class="skills__name">After Effects</h3>
                            <span class="skills__number">45%</span>
                        </div>
                        <div class="skills__bar">
                            <span class="skills__percentage skills__aftereffects"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>