<section class="about section" id="about">
    <h2 class="section__title">About Me</h2>
    <span class="section__subtitle">My introduction</span>

    <div class="about__container container grid">
        <img src="/img/about-nobg.png" alt="about-image" class="about__img" loading="lazy">

        <div class="about__data">
            <p class="about__description"><strong>Full Stack Web Developer</strong>, with extensive knowledge and years of
                experience, working in web technologies and UI / UX design, delivering quality work.</p>
                <p class="about__description">Currently mastering the advanced concepts of <strong>Javascript/Laravel</strong> & started to learn about <a aria-label="Visit the Astro website" href="https://astro.build/" id="astro-link" class="astro-link" target="_blank"><strong>Astro</strong></a>🚀</p>
            <p class="about__description">I also started learning <strong>Cybersecurity</strong> as a hobby &
                have <strong>2 years</strong> over my back in this field. I attended multiple cybersecurity
                courses & conferences to learn more about this.</p>

            <p class="about__description">Been working during the last year on one of the best Marketing Agencies of Spain as full stack web developer (mostly as back end developer but also sharpening & mastering my front end developer skills) in Barcelona using <a id="laravel-link" class="home__description__link" href="https://laravel.com/" target="_blank"><b>Laravel</b></a> with <a id="inertia-link" class="home__description__link" href="https://inertiajs.com/" target="_blank"><b>Inertia</b></a> & <a id="vue-link" class="home__description__link" href="https://vuejs.org/" target="_blank"><b>Vue 3</b></a> building things for top level companies. </p>

            <div class="about__info">
                <div>
                    <span class="about__info-title">04+</span>
                    <span class="about__info-name">Years <br> experience</span>
                </div>

                <div>
                    <span class="about__info-title">20+</span>
                    <span class="about__info-name">Completed <br> project</span>
                </div>

                <div>
                    <span class="about__info-title">02+</span>
                    <span class="about__info-name">Companies <br> worked</span>
                </div>
            </div>

            <div class="about__buttons">
                <a download="" href="/pdf/Ignacio CV.pdf" class="button button--flex">
                    Download CV<i class="uil uil-download-alt button__icon"></i>
                </a>
            </div>
        </div>
    </div>

</section>