---
import LanguagePicker from '../components/LanguagePicker.astro';

import { getLangFromUrl, useTranslations } from '../i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<!--==================== HEADER ====================-->
<header class="header" id="header">
	<nav class="nav container">
		<a href="#" class="nav__logo">Ignacio Amat</a>

		<div class="nav__menu" id="nav-menu">
			<ul class="nav__list grid">
				<li class="nav__item">
					<a href="#home" class="nav__link active-link"><i class="uil uil-estate nav__icon"></i>{t('nav.home')}</a>
				</li>
				<li class="nav__item">
					<a href="#about" class="nav__link"><i class="uil uil-user nav__icon"></i>{t('nav.about')}</a>
				</li>
				<li class="nav__item">
					<a href="#skills" class="nav__link"><i class="uil uil-file-alt nav__icon"></i>{t('nav.skills')}</a>
				</li>
				<li class="nav__item">
					<a href="#services" class="nav__link"><i class="uil uil-briefcase-alt nav__icon"></i>
						{t('nav.services')}</a>
				</li>
				<li class="nav__item">
					<a href="#portfolio" class="nav__link"><i class="uil uil-scenery nav__icon"></i>{t('nav.portfolio')}</a>
				</li>
				<li class="nav__item">
					<a href="#contact" class="nav__link"><i class="uil uil-message nav__icon"></i>{t('nav.contact')}</a>
				</li>
				<!-- <li class="nav__item">
					<a href="#companies" class="nav__link"><i
							class="uil uil-pricetag-alt nav__icon"></i>Discounts</a>
				</li> -->
			</ul>
			<i class="uil uil-times nav__close" id="nav-close"></i>
		</div>

		<div class="nav__btns">
			<!-- Theme change button -->
			<i class="uil uil-moon change-theme" id="theme-button"></i>

			<div class="nav__toggle" id="nav-toggle">
				<i class="uil uil-apps"></i>
			</div>
		</div>
		<div class="nav__btns">
			<!-- LANGUAGE SWITCHER -->
			<LanguagePicker />
		</div>
	</nav>
</header>
