<section class="qualification section">
    <h2 class="section__title">Qualification</h2>
    <span class="section__subtitle">My personal journey</span>

    <div class="qualification__container container">
        <div class="qualification__tabs">
            <div class="qualification__button button--flex qualification__active">
                <i class="uil uil-graduation-cap qualification__icon"></i>
                Education
            </div>

            <div class="qualification__button button--flex">
                <i class="uil uil-briefcase-alt qualification__icon"></i>
                Work
            </div>
        </div>

        <div class="qualification__sections">
            <!--==================== QUALIFICATION CONTENT 1 ====================-->
            <div class="qualification__content qualification__active">
                <!--==================== QUALIFICATION 0 ====================-->

                <div class="qualification__data qualification__separation">
                    <div></div>

                    <div>
                        <span class="qualification__rounder rounder__fix"></span>
                        <span class="qualification__line"></span>
                    </div>

                    <div>
                        <h3 class="qualification__title">Full Stack Web Developer at <a target="_blank" class="job__link" href="https://manifiesto.biz/">MANIFIESTO</a>💓</h3>
                        <span class="qualification__subtitle">Spain, Barcelona</span>
                        <div class="qualification__calendar">
                            <i class="uil uil-calendar-alt"></i>
                            Aug 2022 - Present
                        </div>
                    </div>
                </div>
                <!--==================== QUALIFICATION 1 ====================-->
                <div class="qualification__data">
                    <div></div>

                    <div>
                        <span class="qualification__rounder"></span>
                        <span class="qualification__line"></span>
                    </div>

                    <div>
                        <h3 class="qualification__title">Full Stack Web Developer at VILAX Marketing Agency</h3>
                        <span class="qualification__subtitle">Spain</span>
                        <div class="qualification__calendar">
                            <i class="uil uil-calendar-alt"></i>
                            2021 - 2022
                        </div>
                    </div>
                </div>
                <!--==================== QUALIFICATION 2 ====================-->
                <div class="qualification__data">
                    <div>
                        <h3 class="qualification__title">Web Development Applications</h3>
                        <span class="qualification__subtitle">Spain, Barcelona - Academia Nuria</span>
                        <div class="qualification__calendar">
                            <i class="uil uil-calendar-alt"></i>
                            2018 - 2022
                        </div>
                    </div>

                    <div>
                        <span class="qualification__rounder"></span>
                        <span class="qualification__line"></span>
                    </div>
                </div>

                <!--==================== QUALIFICATION 3 ====================-->
                <div class="qualification__data">
                    <div></div>

                    <div>
                        <span class="qualification__rounder"></span>
                        <span class="qualification__line"></span>
                    </div>

                    <div>
                        <h3 class="qualification__title">Freelance Web Development</h3>
                        <span class="qualification__subtitle">Remote</span>
                        <div class="qualification__calendar">
                            <i class="uil uil-calendar-alt"></i>
                            2019 - 2020
                        </div>
                    </div>
                </div>

                <!--==================== QUALIFICATION 4 ====================-->
                <div class="qualification__data">
                    <div>
                        <h3 class="qualification__title">IT System & Networking</h3>
                        <span class="qualification__subtitle">Spain, Barcelona - Academia Nuria</span>
                        <div class="qualification__calendar">
                            <i class="uil uil-calendar-alt"></i>
                            2014 - 2016
                        </div>
                    </div>

                    <div>
                        <span class="qualification__rounder"></span>
                        <!-- <span class="qualification__line"></span> -->
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>