<section class="services section" id="services">
    <h2 class="section__title">Services</h2>
    <span class="section__subtitle">What I Offer</span>

    <div class="services__container container grid">
        <!--==================== SERVICES 1 ====================-->
        <div class="services__content">
            <div>
                <i class="uil uil-web-grid services__icon"></i>
                <h3 class="services__title">UI/UX <br> Designer</h3>
            </div>

            <span class="button button--flex button--small button--link services__button">
                View More
                <i class="uil uil-arrow-right button__icon"></i>
            </span>


        </div>
        <div class="services__modal">
            <div class="services__modal-content">
                <h4 class="services__modal-title">UI/UX <br> Designer</h4>
                <i class="uil uil-times services__modal-close"></i>

                <ul class="services__modal-services grid">
                    <li class="services__modal-service">
                        <i class="uil uil-check-circle services__modal-icon"></i>
                        <p>I develop the user interface</p>
                    </li>
                    <li class="services__modal-service">
                        <i class="uil uil-check-circle services__modal-icon"></i>
                        <p>Design all the usability.</p>
                    </li>
                    <li class="services__modal-service">
                        <i class="uil uil-check-circle services__modal-icon"></i>
                        <p>I create a good UI that adapts the user needs.</p>
                    </li>
                    <li class="services__modal-service">
                        <i class="uil uil-check-circle services__modal-icon"></i>
                        <p>Adapt the company mindset to an usable environment.</p>
                    </li>
                </ul>
            </div>
        </div>
        <!--==================== SERVICES 2 ====================-->
        <div class="services__content">
            <div>
                <i class="uil uil-arrow services__icon"></i>
                <h3 class="services__title">Frontend <br> Developer</h3>
            </div>

            <span class="button button--flex button--small button--link services__button">
                View More
                <i class="uil uil-arrow-right button__icon"></i>
            </span>


        </div>
        <div class="services__modal">
            <div class="services__modal-content">
                <h4 class="services__modal-title">Frontend <br> Developer</h4>
                <i class="uil uil-times services__modal-close"></i>

                <ul class="services__modal-services grid">
                    <li class="services__modal-service">
                        <i class="uil uil-check-circle services__modal-icon"></i>
                        <p>I code the user frontend, what the user sees</p>
                    </li>
                    <li class="services__modal-service">
                        <i class="uil uil-check-circle services__modal-icon"></i>
                        <p>Entire Web page development.</p>
                    </li>
                    <li class="services__modal-service">
                        <i class="uil uil-check-circle services__modal-icon"></i>
                        <p>Using latest technologies, such as <a id="vue-link" class="home__description__link" href="https://vuejs.org/" target="_blank"><b>Vue 3, </b></a> <a id="tailwind-link" class="home__description__link" href="https://tailwindcss.com/" target="_blank"><b>TailwindCSS</b></a>, <span class="text-yellow-400 font-bold">Javascript ES8-ES9</span></p>
                    </li>
                    <li class="services__modal-service">
                        <i class="uil uil-check-circle services__modal-icon"></i>
                        <p>Good HTML structure and clean CSS to allow good customization and reusability</p>
                    </li>
                </ul>
            </div>
        </div>
        <!--==================== SERVICES 3 ====================-->
        <div class="services__content">
            <div>
                <i class="uil uil-pen services__icon"></i>
                <h3 class="services__title">Backend <br> Developer</h3>
            </div>

            <span class="button button--flex button--small button--link services__button">
                View More
                <i class="uil uil-arrow-right button__icon"></i>
            </span>


        </div>
        <div class="services__modal">
            <div class="services__modal-content">
                <h4 class="services__modal-title">Backend <br> Developer</h4>
                <i class="uil uil-times services__modal-close"></i>

                <ul class="services__modal-services grid">
                    <li class="services__modal-service">
                        <i class="uil uil-check-circle services__modal-icon"></i>
                        <p>I develop the logic of the website, the brain of what's behind a website</p>
                    </li>
                    <li class="services__modal-service">
                        <i class="uil uil-check-circle services__modal-icon"></i>
                        <p>Using different technologies, such as PHP + <a id="laravel-link" class="home__description__link" href="https://laravel.com/" target="_blank"><b>Laravel</b></a> framework & in the future
                            Javascript (React)</p>
                    </li>
                    <li class="services__modal-service">
                        <i class="uil uil-check-circle services__modal-icon"></i>
                        <p>I adapt to company needs, It can be a following user system, a like system between
                            users, an application that let users store/upload pictures or just a simple
                            application with user login/registration, actually anything you can think of... </p>
                    </li>
                    <li class="services__modal-service">
                        <i class="uil uil-check-circle services__modal-icon"></i>
                        <p>Make your website adapt to the dynamic data that users create and make the users
                            interact between them & your website.</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>