<section class="testimonial section">
    <h2 class="section__title">Testimonial</h2>
    <span class="section__subtitle">My client saying</span>

    <div class="testimonial__container container swiper">
        <div class="swiper-wrapper">
            <!--==================== TESTIMONIAL 1 ====================-->
            <div class="testimonial__content swiper-slide">
                <div class="testimonial__data">
                    <div class="testimonial__header">
                        <img src="/img/testimonial1.jpg" alt="testimonial1" class="testimonial__img" loading="lazy">

                        <div>
                            <h3 class="testimonial__name">Dr. Wofford</h3>
                            <span class="testimonial__client">Client</span>
                        </div>
                    </div>

                    <div>
                        <i class="uil uil-star testimonial__icon-star"></i>
                        <i class="uil uil-star testimonial__icon-star"></i>
                        <i class="uil uil-star testimonial__icon-star"></i>
                        <i class="uil uil-star testimonial__icon-star"></i>
                        <i class="uil uil-star testimonial__icon-star"></i>
                    </div>
                </div>

                <p class="testimonial__description">
                    Ignacio completed the work perfectly. He communicated very well and was diligent in his efforts. 5 STARS for sure!
                </p>
            </div>
            <!--==================== TESTIMONIAL 2 ====================-->
            <div class="testimonial__content swiper-slide">
                <div class="testimonial__data">
                    <div class="testimonial__header">
                        <img src="/img/testimonial2.jpg" alt="testimonial2" class="testimonial__img" loading="lazy">

                        <div>
                            <h3 class="testimonial__name">Arash Akhavan</h3>
                            <span class="testimonial__client">Client</span>
                        </div>
                    </div>

                    <div>
                        <i class="uil uil-star testimonial__icon-star"></i>
                        <i class="uil uil-star testimonial__icon-star"></i>
                        <i class="uil uil-star testimonial__icon-star"></i>
                        <i class="uil uil-star testimonial__icon-star"></i>
                        <i class="uil uil-star testimonial__icon-star"></i>
                    </div>
                </div>

                <p class="testimonial__description">
                    Ignacio did a fantastic job! I think I have found a long-term partner here!
                </p>
            </div>
            <!--==================== TESTIMONIAL 3 ====================-->
            <div class="testimonial__content swiper-slide">
                <div class="testimonial__data">
                    <div class="testimonial__header">
                        <img src="/img/testimonial3.jpg" alt="testimonial3" class="testimonial__img" loading="lazy">

                        <div>
                            <h3 class="testimonial__name">Raul Harris</h3>
                            <span class="testimonial__client">Client</span>
                        </div>
                    </div>

                    <div>
                        <i class="uil uil-star testimonial__icon-star"></i>
                        <i class="uil uil-star testimonial__icon-star"></i>
                        <i class="uil uil-star testimonial__icon-star"></i>
                        <i class="uil uil-star testimonial__icon-star"></i>
                        <i class="uil uil-star testimonial__icon-star"></i>
                    </div>
                </div>

                <p class="testimonial__description">
                    Definitely worth the investment. I'd be lost without Ignacio. It's exactly what I've been looking for.
                </p>
            </div>
        </div>
        <!-- Swiper Pagination -->
        <div class="swiper-pagination swiper-pagination-testimonial"></div>
    </div>
</section>

<script>
    import Swiper from 'swiper';
    import { Pagination, Navigation } from 'swiper/modules';

    import 'swiper/css';
    import 'swiper/css/pagination';
    import 'swiper/css/navigation';

    /*==================== TESTIMONIAL ====================*/
    let swiperTestimonial = new Swiper('.testimonial__container', {
        modules: [Pagination, Navigation ],
        spaceBetween: 35,
        grabCursor: true,
        navigation: {
            nextEl: '.swiper-button-next2',
            prevEl: '.swiper-button-prev2',
        },
        pagination: {
            el: '.swiper-pagination',
            clickable: true,
            dynamicBullets: true,
        },
        breakpoints: {
            568: {
                slidesPerView: 2,
            },
        },
        autoplay: {
            delay: 1000,
        },
    });
</script>
