<section class="about section" id="about">
    <h2 class="section__title">Acerca de Mí</h2>
    <span class="section__subtitle">Mi introducción</span>

    <div class="about__container container grid">
        <img src="/img/about-nobg.png" alt="Professional headshot" class="about__img" loading="lazy">

        <div class="about__data">
            <p class="about__description"><strong>Desarrollador Web Full Stack</strong> con amplios conocimientos y años de experiencia, especializado en tecnologías web, diseño UI/UX y entrega de trabajos de alta calidad.</p>
            <p class="about__description">Actualmente, estoy mejorando mis habilidades en <strong>Javascript</strong> y <strong>Laravel</strong>, y también he comenzado a explorar <a aria-label="Visitar el sitio web de Astro" href="https://astro.build/" id="astro-link" class="astro-link" target="_blank"><strong>Astro</strong></a> 🚀.</p>
            <p class="about__description">Me apasiona la <strong>Ciberseguridad</strong> y he dedicado <strong>2 años</strong> a esta área. He asistido a múltiples cursos y conferencias de ciberseguridad para profundizar mis conocimientos.</p>

            <p class="about__description">Durante el último año, he estado trabajando como desarrollador web Full Stack, principalmente como <strong>Desarrollador Back End</strong>, mientras perfecciono mis habilidades de <strong>Desarrollador Front End</strong> en Barcelona, España, en una de las mejores agencias de marketing. Utilizo <a class="laravel-link" class="" href="https://laravel.com/" target="_blank"><b>Laravel</b></a> junto con <a class="laravel-link" class="" href="https://inertiajs.com/" target="_blank"><b>Inertia</b></a> y <a class="vue-link" class="" href="https://vuejs.org/" target="_blank"><b>Vue 3</b></a> para desarrollar soluciones de vanguardia para empresas de alto nivel.</p>

            <div class="about__info">
                <div>
                    <span class="about__info-title">04+</span>
                    <span class="about__info-name">Años de <br> Experiencia</span>
                </div>

                <div>
                    <span class="about__info-title">20+</span>
                    <span class="about__info-name">Proyectos <br> Completados</span>
                </div>

                <div>
                    <span class="about__info-title">02+</span>
                    <span class="about__info-name">Empresas <br> con las que Trabajé</span>
                </div>
            </div>

            <div class="about__buttons">
                <a download="" href="/pdf/Ignacio CV.pdf" class="button button--flex">
                    Descargar CV<i class="uil uil-download-alt button__icon"></i>
                </a>
            </div>
        </div>
    </div>
</section>
