<section class="certifications section">
    <h2 class="section__title">Certificaciones</h2>
    <span class="section__subtitle">Mis certificaciones durante mi trayectoria</span>

    <div class="certification__container container">
        <div class="certification__tabs">
            <div class="certification__button button--flex certification__active">
                <i class="uil uil-file-landscape-alt certification__icon"></i>
                Educación
            </div>

            <div class="certification__button button--flex ">
                <i class="uil uil-trophy certification__icon"></i>
                Hobby
            </div>
        </div>

        <div class="certification__sections">
            <!--==================== CONTENIDO DE CERTIFICACIÓN 1 ====================-->
            <div class="certification__content certification__active">
                <!--==================== CERTIFICACIÓN 1 ====================-->
                <div class="certification__data">
                    <div>
                        <h3 class="certification__title">Novedades en Laravel 9 y Relaciones Eloquent</h3>
                        <span class="certification__subtitle">Laracasts</span>
                        <div class="certification__calendar">
                            <i class="uil uil-calendar-alt"></i>
                            2022 - 2022
                        </div>
                    </div>

                    <div>
                        <span class="certification__rounder"></span>
                        <span class="certification__line"></span>
                    </div>
                </div>
                <!--==================== CERTIFICACIÓN 1 ====================-->
                <div class="certification__data">
                    <div>
                        <h3 class="certification__title">LARAVEL 8 DESDE CERO</h3>
                        <span class="certification__subtitle">Laracasts</span>
                        <div class="certification__calendar">
                            <i class="uil uil-calendar-alt"></i>
                            2022 - 2022
                        </div>
                    </div>

                    <div>
                        <span class="certification__rounder"></span>
                        <span class="certification__line"></span>
                    </div>
                </div>
                <!--==================== CERTIFICACIÓN 2 ====================-->
                <div class="certification__data">
                    <div>
                        <h3 class="certification__title">El Curso Completo de JavaScript 2021: De Cero a Experto</h3>
                        <span class="certification__subtitle">Udemy - Jonas Schmedtmann</span>
                        <div class="certification__calendar">
                            <i class="uil uil-calendar-alt"></i>
                            2021 - Actualidad
                        </div>
                    </div>

                    <div>
                        <span class="certification__rounder"></span>
                        <span class="certification__line"></span>
                    </div>
                </div>

                <!--==================== CERTIFICACIÓN 3 ====================-->
                <div class="certification__data">
                    <div></div>

                    <div>
                        <span class="certification__rounder"></span>
                        <span class="certification__line"></span>
                    </div>

                    <div>
                        <h3 class="certification__title">Curso de Ciberseguridad C1B3RWALL</h3>
                        <span class="certification__subtitle">Curso de la Policía de España</span>
                        <div class="certification__calendar">
                            <i class="uil uil-calendar-alt"></i>
                            2020 - 2020
                        </div>
                    </div>
                </div>

                <!--==================== CERTIFICACIÓN 4 ====================-->
                <div class="certification__data">
                    <div></div>

                    <div>
                        <span class="certification__rounder"></span>
                        <span class="certification__line"></span>
                    </div>

                    <div>
                        <h3 class="certification__title">Ciberseguridad INTELCON 2020</h3>
                        <span class="certification__subtitle">GINSEG</span>
                        <div class="certification__calendar">
                            <i class="uil uil-calendar-alt"></i>
                            2020 - 2020
                        </div>
                    </div>
                </div>

                <!--==================== CERTIFICACIÓN 5 ====================-->
                <div class="certification__data">
                    <div>
                        <h3 class="certification__title">LARAVEL 6 DESDE CERO</h3>
                        <span class="certification__subtitle">LARACASTS</span>
                        <div class="certification__calendar">
                            <i class="uil uil-calendar-alt"></i>
                            2020 - 2020
                        </div>
                    </div>

                    <div>
                        <span class="certification__rounder"></span>
                        <span class="certification__line"></span>
                    </div>
                </div>

                <!--==================== CERTIFICACIÓN 6 ====================-->
                <div class="certification__data">
                    <div>
                        <h3 class="certification__title">CSS Avanzado y Sass: Flexbox, Grid, Animaciones y Más</h3>
                        <span class="certification__subtitle">Udemy - Jonas Schmedtmann</span>
                        <div class="certification__calendar">
                            <i class="uil uil-calendar-alt"></i>
                            2019 - 2019
                        </div>
                    </div>

                    <div>
                        <span class="certification__rounder"></span>
                        <span class="certification__line"></span>
                    </div>
                </div>

                <!--==================== CERTIFICACIÓN 7 ====================-->
                <div class="certification__data">
                    <div>
                        <h3 class="certification__title">Construcción de Sitios Web Responsive en el Mundo Real con HTML y CSS</h3>
                        <span class="certification__subtitle">Udemy - Jonas Schmedtmann</span>
                        <div class="certification__calendar">
                            <i class="uil uil-calendar-alt"></i>
                            2018 - 2018
                        </div>
                    </div>

                    <div>
                        <span class="certification__rounder"></span>
                        <!-- <span class="certification__line"></span> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
