---
import Layout from '../../layouts/Layout.astro';
import Header from '../../components/Header.astro';
import HomeSection from './HomeSection.astro';
import AboutSection from './AboutSection.astro';
import SkillsSection from './SkillsSection.astro';
import QualificationSection from './QualificationSection.astro';
import CertificationSection from './CertificationSection.astro';
import ServicesSection from './ServicesSection.astro';
import PortfolioSection from './PortfolioSection.astro';
import ProjectSection from './ProjectSection.astro';
import TestimonialSection from './TestimonialSection.astro';
import ContactSection from './ContactSection.astro';
import Footer from '../../components/Footer.astro';
---

<Layout title="Ignacio Amat Urbina - Full Stack Web Developer">
	 <!-- Google Tag Manager (noscript) -->
	 <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PPB75LJ" height="0" width="0"
		style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
<Header />

<!--==================== MAIN ====================-->
<main class="main">
	<!--==================== HOME ====================-->
	<HomeSection />

	<!--==================== ABOUT ====================-->
	<AboutSection />

	<!--==================== SKILLS ====================-->
	<SkillsSection />

	<!--==================== QUALIFICATION ====================-->
	<QualificationSection />

	<!--==================== CERTIFICATION ====================-->
	<CertificationSection />

	<!--==================== SERVICES ====================-->
	<ServicesSection />

	<!--==================== PORTFOLIO ====================-->
	<PortfolioSection />

	<!--==================== PROJECT IN MIND ====================-->
	<ProjectSection />

	<!--==================== TESTIMONIAL ====================-->
	<TestimonialSection />

	<!--==================== CONTACT ME ====================-->
	<ContactSection />
</main>

<!--==================== FOOTER ====================-->
<Footer />

<!--==================== SCROLL TOP ====================-->
<a href="#" class="scrollup" id="scroll-up" aria-label="Scroll to Top">
	<i class="uil uil-arrow-up scrollup__icon"></i>
</a>
</Layout>
