<section class="qualification section">
    <h2 class="section__title">Calificaciones</h2>
    <span class="section__subtitle">Mi trayectoria personal</span>

    <div class="qualification__container container">
        <div class="qualification__tabs">
            <div class="qualification__button button--flex qualification__active">
                <i class="uil uil-graduation-cap qualification__icon"></i>
                Educaci칩n
            </div>

            <div class="qualification__button button--flex">
                <i class="uil uil-briefcase-alt qualification__icon"></i>
                Trabajo
            </div>
        </div>

        <div class="qualification__sections">
            <!--==================== QUALIFICATION CONTENT 1 ====================-->
            <div class="qualification__content qualification__active">
                <!--==================== QUALIFICATION 0 ====================-->

                <div class="qualification__data qualification__separation">
                    <div></div>

                    <div>
                        <span class="qualification__rounder rounder__fix"></span>
                        <span class="qualification__line"></span>
                    </div>

                    <div>
                        <h3 class="qualification__title">Desarrollador Web Full Stack en <a target="_blank" class="job__link" href="https://manifiesto.biz/">MANIFIESTO</a>游눕</h3>
                        <span class="qualification__subtitle">Espa침a, Barcelona</span>
                        <div class="qualification__calendar">
                            <i class="uil uil-calendar-alt"></i>
                            Ago 2022 - Actualidad
                        </div>
                    </div>
                </div>
                <!--==================== QUALIFICATION 1 ====================-->
                <div class="qualification__data">
                    <div></div>

                    <div>
                        <span class="qualification__rounder"></span>
                        <span class="qualification__line"></span>
                    </div>

                    <div>
                        <h3 class="qualification__title">Desarrollador Web Full Stack en VILAX Agencia de Marketing</h3>
                        <span class="qualification__subtitle">Espa침a</span>
                        <div class="qualification__calendar">
                            <i class="uil uil-calendar-alt"></i>
                            2021 - 2022
                        </div>
                    </div>
                </div>
                <!--==================== QUALIFICATION 2 ====================-->
                <div class="qualification__data">
                    <div>
                        <h3 class="qualification__title">Desarrollo de Aplicaciones Web</h3>
                        <span class="qualification__subtitle">Espa침a, Barcelona - Academia Nuria</span>
                        <div class="qualification__calendar">
                            <i class="uil uil-calendar-alt"></i>
                            2018 - 2022
                        </div>
                    </div>

                    <div>
                        <span class="qualification__rounder"></span>
                        <span class="qualification__line"></span>
                    </div>
                </div>

                <!--==================== QUALIFICATION 3 ====================-->
                <div class="qualification__data">
                    <div></div>

                    <div>
                        <span class="qualification__rounder"></span>
                        <span class="qualification__line"></span>
                    </div>

                    <div>
                        <h3 class="qualification__title">Desarrollo Web Freelance</h3>
                        <span class="qualification__subtitle">Remoto</span>
                        <div class="qualification__calendar">
                            <i class="uil uil-calendar-alt"></i>
                            2019 - 2020
                        </div>
                    </div>
                </div>

                <!--==================== QUALIFICATION 4 ====================-->
                <div class="qualification__data">
                    <div>
                        <h3 class="qualification__title">Sistemas de TI y Redes</h3>
                        <span class="qualification__subtitle">Espa침a, Barcelona - Academia Nuria</span>
                        <div class="qualification__calendar">
                            <i class="uil uil-calendar-alt"></i>
                            2014 - 2016
                        </div>
                    </div>

                    <div>
                        <span class="qualification__rounder"></span>
                        <!-- <span class="qualification__line"></span> -->
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
