<section class="services section" id="services">
    <h2 class="section__title">Servicios</h2>
    <span class="section__subtitle">Lo que ofrezco</span>

    <div class="services__container container grid">
        <!--==================== SERVICIO 1 ====================-->
        <div class="services__content">
            <div>
                <i class="uil uil-web-grid services__icon"></i>
                <h3 class="services__title">Diseñador UI/UX</h3>
            </div>

            <span class="button button--flex button--small button--link services__button">
                Ver más
                <i class="uil uil-arrow-right button__icon"></i>
            </span>


        </div>
        <div class="services__modal">
            <div class="services__modal-content">
                <h4 class="services__modal-title">Diseñador UI/UX</h4>
                <i class="uil uil-times services__modal-close"></i>

                <ul class="services__modal-services grid">
                    <li class="services__modal-service">
                        <i class="uil uil-check-circle services__modal-icon"></i>
                        <p>Desarrollo la interfaz de usuario.</p>
                    </li>
                    <li class="services__modal-service">
                        <i class="uil uil-check-circle services__modal-icon"></i>
                        <p>Diseño toda la usabilidad.</p>
                    </li>
                    <li class="services__modal-service">
                        <i class="uil uil-check-circle services__modal-icon"></i>
                        <p>Creo una buena interfaz de usuario que se adapta a las necesidades del usuario.</p>
                    </li>
                    <li class="services__modal-service">
                        <i class="uil uil-check-circle services__modal-icon"></i>
                        <p>Adapto la mentalidad de la empresa a un entorno utilizable.</p>
                    </li>
                </ul>
            </div>
        </div>
        <!--==================== SERVICIO 2 ====================-->
        <div class="services__content">
            <div>
                <i class="uil uil-arrow services__icon"></i>
                <h3 class="services__title">Desarrollador Frontend</h3>
            </div>

            <span class="button button--flex button--small button--link services__button">
                Ver más
                <i class="uil uil-arrow-right button__icon"></i>
            </span>


        </div>
        <div class="services__modal">
            <div class="services__modal-content">
                <h4 class="services__modal-title">Desarrollador Frontend</h4>
                <i class="uil uil-times services__modal-close"></i>

                <ul class="services__modal-services grid">
                    <li class="services__modal-service">
                        <i class="uil uil-check-circle services__modal-icon"></i>
                        <p>Programo el frontend del usuario, lo que el usuario ve.</p>
                    </li>
                    <li class="services__modal-service">
                        <i class="uil uil-check-circle services__modal-icon"></i>
                        <p>Desarrollo de páginas web completas.</p>
                    </li>
                    <li class="services__modal-service">
                        <i class="uil uil-check-circle services__modal-icon"></i>
                        <p>Utilizando las últimas tecnologías, como <a id="vue-link" class="home__description__link" href="https://vuejs.org/" target="_blank"><b>Vue 3, </b></a> <a id="tailwind-link" class="home__description__link" href="https://tailwindcss.com/" target="_blank"><b>TailwindCSS</b></a>, <span class="text-yellow-400 font-bold">Javascript ES8-ES9</span></p>
                    </li>
                    <li class="services__modal-service">
                        <i class="uil uil-check-circle services__modal-icon"></i>
                        <p>Buena estructura HTML y CSS limpio para permitir una buena personalización y reutilización.</p>
                    </li>
                </ul>
            </div>
        </div>
        <!--==================== SERVICIO 3 ====================-->
        <div class="services__content">
            <div>
                <i class="uil uil-pen services__icon"></i>
                <h3 class="services__title">Desarrollador Backend</h3>
            </div>

            <span class="button button--flex button--small button--link services__button">
                Ver más
                <i class="uil uil-arrow-right button__icon"></i>
            </span>


        </div>
        <div class="services__modal">
            <div class="services__modal-content">
                <h4 class="services__modal-title">Desarrollador Backend</h4>
                <i class="uil uil-times services__modal-close"></i>

                <ul class="services__modal-services grid">
                    <li class="services__modal-service">
                        <i class="uil uil-check-circle services__modal-icon"></i>
                        <p>Desarrollo la lógica del sitio web, el cerebro de lo que está detrás de un sitio web.</p>
                    </li>
                    <li class="services__modal-service">
                        <i class="uil uil-check-circle services__modal-icon"></i>
                        <p>Usando diferentes tecnologías, como PHP + <a id="laravel-link" class="home__description__link" href="https://laravel.com/" target="_blank"><b>Laravel</b></a> y en el futuro Javascript (React).</p>
                    </li>
                    <li class="services__modal-service">
                        <i class="uil uil-check-circle services__modal-icon"></i>
                        <p>Me adapto a las necesidades de la empresa, puede ser un sistema de seguimiento de usuarios, un sistema de likes entre usuarios, una aplicación que permite a los usuarios almacenar/subir imágenes o simplemente una aplicación sencilla con inicio de sesión/registro de usuarios, en realidad, cualquier cosa que puedas imaginar...</p>
                    </li>
                    <li class="services__modal-service">
                        <i class="uil uil-check-circle services__modal-icon"></i>
                        <p>Hacer que tu sitio web se adapte a los datos dinámicos que los usuarios crean y hacer que los usuarios interactúen entre ellos y con tu sitio web.</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
