---
import { Image } from 'astro:assets';
import testimonial1Image from '/public/img/testimonial1.jpg';
import testimonial2Image from '/public/img/testimonial2.jpg';
import testimonial3Image from '/public/img/testimonial3.jpg';
---

<section class="testimonial section">
    <h2 class="section__title">Testimonios</h2>
    <span class="section__subtitle">Lo que dicen mis clientes</span>

    <div class="testimonial__container container swiper">
        <div class="swiper-wrapper">
            <!--==================== TESTIMONIO 1 ====================-->
            <div class="testimonial__content swiper-slide">
                <div class="testimonial__data">
                    <div class="testimonial__header">
                        <Image src={testimonial1Image} alt="Foto del autor del testimonio 1" class="testimonial__img" />


                        <div>
                            <h3 class="testimonial__name">Dr. Wofford</h3>
                            <span class="testimonial__client">Cliente</span>
                        </div>
                    </div>

                    <div>
                        <i class="uil uil-star testimonial__icon-star"></i>
                        <i class="uil uil-star testimonial__icon-star"></i>
                        <i class="uil uil-star testimonial__icon-star"></i>
                        <i class="uil uil-star testimonial__icon-star"></i>
                        <i class="uil uil-star testimonial__icon-star"></i>
                    </div>
                </div>

                <p class="testimonial__description">
                    Ignacio completó el trabajo a la perfección. Se comunicó muy bien y fue diligente en sus esfuerzos. ¡5 ESTRELLAS sin duda!
                </p>
            </div>
            <!--==================== TESTIMONIO 2 ====================-->
            <div class="testimonial__content swiper-slide">
                <div class="testimonial__data">
                    <div class="testimonial__header">
                        <Image src={testimonial2Image} alt="Foto del autor del testimonio 2" class="testimonial__img" />


                        <div>
                            <h3 class="testimonial__name">Arash Akhavan</h3>
                            <span class="testimonial__client">Cliente</span>
                        </div>
                    </div>

                    <div>
                        <i class="uil uil-star testimonial__icon-star"></i>
                        <i class="uil uil-star testimonial__icon-star"></i>
                        <i class="uil uil-star testimonial__icon-star"></i>
                        <i class="uil uil-star testimonial__icon-star"></i>
                        <i class="uil uil-star testimonial__icon-star"></i>
                    </div>
                </div>

                <p class="testimonial__description">
                    ¡Ignacio hizo un trabajo fantástico! ¡Creo que he encontrado un socio a largo plazo aquí!
                </p>
            </div>
            <!--==================== TESTIMONIO 3 ====================-->
            <div class="testimonial__content swiper-slide">
                <div class="testimonial__data">
                    <div class="testimonial__header">
                        <Image src={testimonial3Image} alt="Foto del autor del testimonio 3" class="testimonial__img" />

                        <div>
                            <h3 class="testimonial__name">Raul Harris</h3>
                            <span class="testimonial__client">Cliente</span>
                        </div>
                    </div>

                    <div>
                        <i class="uil uil-star testimonial__icon-star"></i>
                        <i class="uil uil-star testimonial__icon-star"></i>
                        <i class="uil uil-star testimonial__icon-star"></i>
                        <i class="uil uil-star testimonial__icon-star"></i>
                        <i class="uil uil-star testimonial__icon-star"></i>
                    </div>
                </div>

                <p class="testimonial__description">
                    Definitivamente vale la inversión. Estaría perdido sin Ignacio. Es exactamente lo que he estado buscando.
                </p>
            </div>
        </div>
        <!-- Swiper Pagination -->
        <div class="swiper-pagination swiper-pagination-testimonial"></div>
    </div>
</section>
