---
import { getLangFromUrl, useTranslations } from '../i18n/utils';
import '../styles/utils.css'

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
interface Props {
	title: string;
}
const { title } = Astro.props;
---
<!doctype html>
<html lang={lang}>
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={t('meta.description')} />
		<meta name="viewport" content="width=device-width" />
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>💻</text></svg>">
		<meta name="generator" content={Astro.generator} />
		<meta name="keywords"
        content={t('meta.keywords')}>
    <meta name="author" content="Ignacio Amat Urbina">

        <!-- Basic OG Meta Tags -->
    <meta property="og:title" content="Ignacio Amat Urbina - Full Stack Web Developer">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://www.ignathedev.com">
    <meta property="og:image" content="https://www.ignathedev.com/img/profile_picture_og-upscaled.jpg">

     <!-- HTML Meta Tags -->
  <title>Ignacio Amat Urbina - Full Stack Web Developer & Laravel Expert</title>
  <meta name="description" content="Passionate full-stack web developer & Laravel Expert based in Barcelona, offering web development and design services.">

  <!-- Facebook Meta Tags -->
  <meta property="og:url" content="https://www.ignathedev.com/">
  <meta property="og:type" content="website">
  <meta property="og:title" content={t('meta.title')}>
  <meta property="og:description" content={t('meta.description')}>
  <meta property="og:image" content="https://www.ignathedev.com/img/profile_picture_og-upscaled.jpg">

  <!-- Twitter Meta Tags -->
  <meta name="twitter:card" content="summary_large_image">
  <meta property="twitter:domain" content="ignathedev.com">
  <meta property="twitter:url" content="https://www.ignathedev.com/">
  <meta name="twitter:title" content={t('meta.title')}>
  <meta name="twitter:description" content={t('meta.description')}>
  <meta name="twitter:image" content="https://www.ignathedev.com/img/profile_picture_og-upscaled.jpg">

  <!-- Meta Tags Generated via https://www.opengraph.xyz -->
    <meta property="og:site_name" content={t('meta.sitename')}>

    <!-- Locale -->
    <meta property="og:locale" content={t('meta.locale')}>

    <!-- Keywords -->
    <meta property="og:keywords" content={t('meta.keywords')}>

    <!-- Author -->
    <meta property="og:author" content="Ignacio Amat Urbina">

            <link rel="canonical" href="https://www.ignathedev.com">

		    <!--==================== UNICONS ====================-->
			<link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css">
            <link rel="sitemap" href="/sitemap-index.xml" />

		<title>{title}</title>
	
	
	
		<script type="application/ld+json">
			{"name" : "ignathedev",
			  "url" : "https://www.ignathedev.com", 
			  "logo": "https://www.ignathedev.com/assets/img/profile_picture.jpg" }
		</script>
	</head>
	<body>
		<slot />
        <!-- Global site tag (gtag.js) - Google Analytics -->
		<script type="text/partytown" async src="https://www.googletagmanager.com/gtag/js?id=G-VZQ07QHFLN"></script>
		<script type="text/partytown">
			window.dataLayer = window.dataLayer || [];
			function gtag() { dataLayer.push(arguments); }
			gtag('js', new Date());
	
			gtag('config', 'G-VZQ07QHFLN');
		</script>
		<script src="https://www.google.com/recaptcha/api.js" async defer></script>
        <script>
            window.si = window.si || function () { (window.siq = window.siq || []).push(arguments); };
          </script>
          <script defer src="/_vercel/speed-insights/script.js"></script>
<!-- Google Tag Manager -->
		<script type="text/partytown">
			(function (w, d, s, l, i) {
				w[l] = w[l] || []; w[l].push({
					'gtm.start':
						new Date().getTime(), event: 'gtm.js'
				}); var f = d.getElementsByTagName(s)[0],
					j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
						'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
			})(window, document, 'script', 'dataLayer', 'GTM-PPB75LJ');
		</script>
		<!-- End Google Tag Manager -->
        
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
          </script>
        <script>
            import '@fontsource/poppins';
            import ScrollReveal from 'scrollreveal'
            /*==================== MENU SHOW Y HIDDEN ====================*/
const navMenu = document.getElementById('nav-menu'),
    navToggle = document.getElementById('nav-toggle'),
    navClose = document.getElementById('nav-close')

/*===== MENU SHOW =====*/
/* Validate if constant exists */
if(navToggle){
    navToggle.addEventListener('click', () =>{
        navMenu.classList.add('show-menu');
    });
}

/*===== MENU HIDDEN =====*/
/* Validate if constant exists */
if(navClose){
    navClose.addEventListener('click', () =>{
        navMenu.classList.remove('show-menu')
    })
}

/*==================== REMOVE MENU MOBILE ====================*/
const navLink = document.querySelectorAll('.nav__link')

function linkAction(){
    const navMenu = document.getElementById('nav-menu')
    // When we click on each nav__link, we remove the show-menu class
    navMenu.classList.remove('show-menu')
}
navLink.forEach(n => n.addEventListener('click', linkAction))

/*==================== ACCORDION SKILLS ====================*/
const skillsContent = document.getElementsByClassName('skills__content'),
        skillsHeader = document.querySelectorAll('.skills__header')

        function toggleSkills(){
            let itemClass = this.parentNode.className
            let i
            for(i = 0; i < skillsContent.length; i++){
                skillsContent[i].className = 'skills__content skills__close'
            }
            if(itemClass === 'skills__content skills__close'){
                this.parentNode.className = 'skills__content skills__open'
            }
        }

        skillsHeader.forEach((el) =>{
            el.addEventListener('click', toggleSkills)
        })
/*==================== QUALIFICATION TABS ====================*/
// NOT IMPLEMENTED BECAUSE PREFER SIMPLER DESIGN SHOWING BOTH
/* const tabs = document.querySelectorAll('[data-target]'),
    tabContents = document.querySelectorAll('[data-content]')

    tabs.forEach(tab =>{
        tab.addEventListener('click', () =>{
            const target = document.querySelector(tab.dataset.target)

            tabContents.forEach(tabContent => {
                tabContent.classList.remove('qualification__active')
                tabContent.classList.remove('certification__active')
            })
            target.classList.add('qualification__active')
            target.classList.add('certification__active')

            tabs.forEach(tab =>{
                tab.classList.remove('qualification__active')
                tab.classList.remove('certification__active')
            })
            tab.classList.add('qualification__active')
            tab.classList.add('certification__active')
        })
    }) */

/*==================== CERTIFICATION TABS ====================*/

/*==================== SERVICES MODAL ====================*/
const modalViews = document.querySelectorAll('.services__modal'),
        modalBtns = document.querySelectorAll('.services__button'),
        modalClose = document.querySelectorAll('.services__modal-close')

let modal = function(modalClick){
    modalViews[modalClick].classList.add('active-modal')
}

modalBtns.forEach((modalBtn, i) => {
    modalBtn.addEventListener('click', () => {
        modal(i)
    })
})

modalClose.forEach((modalClose) => {
    modalClose.addEventListener('click', () => {
        modalViews.forEach((modalView) => {
            modalView.classList.remove('active-modal')
        })
    })
})

/*==================== SCROLL SECTIONS ACTIVE LINK ====================*/
const sections = document.querySelectorAll('section[id]')

function scrollActive(){
    const scrollY = window.pageYOffset

    sections.forEach(current =>{
        const sectionHeight = current.offsetHeight
        const sectionTop = current.offsetTop - 50;
        let sectionId = current.getAttribute('id')

        if(scrollY > sectionTop && scrollY <= sectionTop + sectionHeight){
            document.querySelector('.nav__menu a[href*=' + sectionId + ']').classList.add('active-link')
        }else{
            document.querySelector('.nav__menu a[href*=' + sectionId + ']').classList.remove('active-link')
        }
    })
}
window.addEventListener('scroll', scrollActive)


/*==================== CHANGE BACKGROUND HEADER ====================*/ 
function scrollHeader(){
    const nav = document.getElementById('header')
    // When the scroll is greater than 200 viewport height, add the scroll-header class to the header tag
    if(this.scrollY >= 80) nav.classList.add('scroll-header'); else nav.classList.remove('scroll-header')
}
window.addEventListener('scroll', scrollHeader)

/*==================== SHOW SCROLL UP ====================*/ 
function scrollUp(){
    const scrollUp = document.getElementById('scroll-up');
    // When the scroll is higher than 560 viewport height, add the show-scroll class to the a tag with the scroll-top class
    if(this.scrollY >= 560) scrollUp.classList.add('show-scroll'); else scrollUp.classList.remove('show-scroll')
}
window.addEventListener('scroll', scrollUp)

/*==================== DARK LIGHT THEME ====================*/ 
const themeButton = document.getElementById('theme-button')
const darkTheme = 'dark-theme'
const iconTheme = 'uil-sun'

// Previously selected topic (if user selected)
const selectedTheme = localStorage.getItem('selected-theme')
const selectedIcon = localStorage.getItem('selected-icon')

// We obtain the current theme that the interface has by validating the dark-theme class
const getCurrentTheme = () => document.body.classList.contains(darkTheme) ? 'dark' : 'light'
const getCurrentIcon = () => themeButton.classList.contains(iconTheme) ? 'uil-moon' : 'uil-sun'

// We validate if the user previously chose a topic
if (selectedTheme) {
  // If the validation is fulfilled, we ask what the issue was to know if we activated or deactivated the dark
  document.body.classList[selectedTheme === 'dark' ? 'add' : 'remove'](darkTheme)
  themeButton.classList[selectedIcon === 'uil-moon' ? 'add' : 'remove'](iconTheme)
}

// Activate / deactivate the theme manually with the button
themeButton.addEventListener('click', () => {
    // Add or remove the dark / icon theme
    document.body.classList.toggle(darkTheme)
    themeButton.classList.toggle(iconTheme)
    // We save the theme and the current icon that the user chose
    localStorage.setItem('selected-theme', getCurrentTheme())
    localStorage.setItem('selected-icon', getCurrentIcon())
})

/*==================== SCROLL REVEAL ANIMATION ====================*/
const srbottom = ScrollReveal({
    origin: 'bottom',
    distance: '125px',
    duration: 2000,
    reset: false
});

srbottom.reveal(`.home__data, .home__img,
            .about__img,.about__data,.qualification__container, 
            .certification__container,
            .services__content, .project__container, .testimonial__container, .contact, .home__scroll`, {
    interval: 200
});
        </script>
	</body>
</html>
